/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --padding40:40px;
    --white:#FFFFFF;
    --primary:#262f7b;
    --primary-bg:linear-gradient(1deg, #242d7aa6, #242d7a);
}
.prmary-btn {
    color: #fff !important;
    background: linear-gradient(270deg, rgb(40 60 214) 0%, #26318c 100%) !important;
    box-shadow: 0px 2px 6px 0px #3b5998 !important;
}
.btn {
    &.btn-primary {
        color: var(--kt-primary-inverse);
        border-color: var(--kt-primary);
        background-color: #262f7b;
    }
}

.navbar {
    box-shadow: 0 0.125rem 0.5rem 0 rgba(47, 43, 61, 0.12);
    backdrop-filter: saturate(200%) blur(6px);
    background: linear-gradient(1deg, #242d7aa6, #242d7a); 
    .nav-link {
        i {
            color: var(--white);
        }
    }
}
.menu {
    .menu-item  {
        .menu-link {
            margin-inline: 10px;
            &.active {
                color: #fff !important;
                background: linear-gradient(270deg, rgb(40 60 214) 0%, #26318c 100%) !important;
                box-shadow: 0px 2px 6px 0px #3b5998 !important;
                border-radius: 4px;
            }
        }
    }
}
.rightbar-body {
    width: calc(100% - 260px);
    display: block;
    margin-left: 260px;
    padding: var(--padding40);

    .stepper-block {
        border-radius: 10px;
        .mat-stepper-horizontal {
            border-radius: 10px;
        }
        .mat-step-header {
            display: flex;
            flex-direction: column;
            gap: 3px;
            justify-content: center;
            .mat-step-label-selected {
                .mat-step-text-label {
                    color: var(--primary);
                    font-weight: 500;
                }
            }
        }
        .mat-stepper-horizontal-line {   
            border-top: none !important;
            width: 100px;
            height: 100px;
            background: url("../src/assets/img/icons/right-icon.png") no-repeat center;
            background-size: 22%;
        }
    }
}
